@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(243,244,246); */
  background-color: rgb(243,244,246);
  font-family: "Poppins", sans-serif;
}

.addpost-popup {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.407);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
}

.home-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.home-scrollbox {
  width: 100%;
  height: 90%;
}
.home-scroll-post {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.home-scrollbox-post {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  padding-bottom: 30px;
}
::-webkit-scrollbar {
  width: 0px;
}

.chat-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.chat-scrollbox {
  width: 100%;
  height: 90%;
}
